######################################################################
# Build Tools

node_modules/
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

target/
!.mvn/wrapper/maven-wrapper.jar

######################################################################
# IDE

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

.idea
.vscode
*.iws
*.iml
*.ipr

rebel.xml

nbproject/private/
build/*
nbbuild/
dist/
nbdist/
.nb-gradle/
mtd-desktop/release/
mtd-desktop/resources/generated/

######################################################################
# Others

*.log
*.xml.versionsBackup
*.swp
__pycache__/
*.py[cod]

!*/build/*.java
!*/build/*.html
!*/build/*.xml
